<!-- Main Navigation -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/Assets/images/mylogo4.png" width="55" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="Home" class="nav-item active">
                <a class="nav-link" href="#Home">
                    <i class="fa fa-home fa-lg" style="font-size:20px;color:olivedrab;"></i> Home
                </a>
            </li>
            <!--  -->
            <li id="Contact" class="nav-item active">
                <a class="nav-link" href="#Contact">
                    <i class="fa fa-at fa-lg" style="font-size:20px;color:olivedrab;"></i> Contact</a>
            </li>
            <li id="Project" class="nav-item active">
                <a class="nav-link" href="#Project">
                    <i class="fa fa-tasks fa-lg" style="font-size:20px;color:olivedrab;"></i> Project</a>
            </li>
        </ul>
    </div>
</nav>