<!-- <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome Home!</h1>
    </div>
</div>
<div>
    <p id="intro1">
    </p>
    <h3>Mission</h3>
    <p id="mission1"></p>
</div> -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <!-- Jumbotron effect class -->
                    <!-- <div class="jumbotron"> -->
                    <div>
                        <!--  -->
                        <!-- <h1 class="display-4">Hello!</h1> -->
                        <p class="lead"></p>
                        <img src="/Assets/images/myphoto.jpg" id="photo" title="Nusrat Riaz" width="200" height="250" float:right> </p>
                        <p id="intro">Introduction</p>
                        <!-- Black Mission tag -->
                        <div class="btn btn-dark" id="mission">
                            <h5>Mission</h5>
                        </div>
                        <!-- End -->
                        <h3></h3>
                        <p id="mdetail">Mission</p>
                        <blockquote class="color">
                            <img src="/Assets/images/quotation-marks-left.png" alt="" width="20" height="17">
                            <i id="mquote">Say something nice here</i>
                            <!-- www.brainyquote.com/quotes/brad_henry_167806 -->
                            <img src="/Assets/images/2014-05-23_8-02-18.gif" alt="" width="20" height="17">
                            <br>
                            <br>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>