<!-- Projects Html -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Project1 Start  -->
                    <!-- <h4 id="Project1">Text</h4> -->
                    <!-- Example row of columns -->
                    <div class="container" id="bkcolor1">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- <h4 id="abc"></h4> -->
                                <h4 id="pname1"></h4>
                                <!-- <ul id="proj1DetailsList"></ul> -->
                                <p id="pdetail1"></p>
                                <!-- <p id="proj1">My First </p> -->
                                <p id="pbenefit1"></p>
                            </div>
                            <div class="col-md-6">

                                <div>
                                    <img src="/Assets/images/cardealers.jpg" title="Car Delear photo" width="340" height="275" margin-top:40px;>
                                    <!-- <img src="./Assests/images/Project 2.JPG" title="project Photo" width="265" height="200"> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!-- Project2 start -->

                    <div class="container" id="bkcolor2">
                        <div class="row">
                            <div class="col-md-6">

                                <div>
                                    <img src="/Assets/images/database2.jpg" title="ERD Diagram" width="340" height="250">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 id="abc1Project2"></h4>
                                <h4 id="pname2"></h4>

                                <p id="pdetail2"></p>

                                <p id="pbenefit2"></p>
                            </div>
                        </div>
                        <hr>
                    </div>

                    <!-- Project3 Start -->

                    <div class="container" id="bkcolor3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 id="abc2"></h4>
                                <h4 id="pname3"></h4>
                                <p id="pdetail3"></p>
                                <p id="pbenefit3"></p>
                            </div>
                            <div class="col-md-6">
                                <!-- End of project3-->

                                <div>
                                    <img src="/Assets/images/Project 3.jpg" title="Mini Garden" width="350" height="285" float:right }>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Image taken from: https://www.today.com/parents/9-enchanting-fairy-gardens-build-your-kids-t15221  -->